.box{
background-color:white;
border-radius:3%;
color:black;
box-shadow:10px 10px 10px grey;
padding-left:10%;
}
.header{
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  text-align: center;
  padding-top: 6%;
  padding-bottom: 6%;
  font-size: 40px;
  color:white;



}
li{
  color:white;
}
a:hover{
  background-color:  orange;
}
