{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container">
  <div class="row"><div class="col-sm-3"></div><div class="col-sm-5">
   <div class="formbox">
     <center><h1>Register</h1></center><br>
    <form method="post">

      {% csrf_token %}
     <p>
     {% for field in form.visible_fields %}

         {{ field.label_tag }}
         {{field}}<br>




     {% endfor %}
   </p>
     <center><input type="submit" class="rounded btn-primary btn-lg" value="sign up"></center><br>
     <center>Already a member? <a href="{% url 'login_view' %}" class="rounded btn-primary btn-lg">Login</a></center>
</form></div></div></div></div>
{% endblock %}
